/* acceuil.css */
.Acceuil {
  margin: 0;
  background-color: #020814;
  height: 1800px;
}

.MessageDeBienvenueAccueil {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.MessageDeBienvenueAccueil h1 {
  font-size: 50px;
}

.MessageDeBienvenueAccueil h2 {
  font-size: 40px;
  font-weight: normal;
}

.BoutonAddAnArticleContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.BoutonAddAnArticleContainer button {
  padding: 45px 70px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
  transition: 0.2s linear;
}

.BoutonAddAnArticleContainer button:hover {
  transform: scale(1.1);
}
