# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/node_modules
Frontend/public/article

Backend/__pycache__
Backend/blueprints/__pycache__
Backend/asset/documents
Backend/asset/documentTraite