/* footer.css */
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
    height: 148px;
    flex-shrink: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: flex;
    bottom: 0;
}

.credit {
    margin: 10px;
    padding: 0 100px;
    color: #FFFBF9;
    text-align: center;
    font-style: italic;
    font-size: 15.213px;
}

.confidential {
    color: #FFFBF9;
    text-align: center;
    font-style: normal;
}
