.replies{
    padding-left: 40px;
}

.comment{
    margin-top: 20px;
    padding: 10px;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: var(--EssilorLuxotica_Grey_4);
}