.class-header{
    background-color: #000000;
    color: #ffffff;
    position: flex;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}