.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
  }
  
  .input {
    width: 426px;
    height: 48px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: black;
    width: 1rem;
    height: 1rem;
  }
  